
.clearfix{
    width: 100%;
    height: 50px;
    clear: both;
}
.content-nav li>a{
    display: block;
    height: 40px;
    background-color: #00417c;
    width: 160px;
    border-radius: 2px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    margin-top: 20px;
    box-sizing: border-box
}
.content-nav{
    float: right;
    margin-top: 50px;
    margin-right: 50px;
}
.content-details{
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 150px;
}
.d-or-b a{
    display: inline-block;
    width: 55px;
    height: 25px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #0d66b7;
    border-radius: 4px;
}

/* .fixed-bottom {position: fixed;bottom: 0;width:100%;} */
@media (max-width: 768px) { 
    .content-nav{
        float: left;
    }
}